<% content_for :company_logo do %>

<% provide(:title, 'Home') %>

<head>
	<%= javascript_include_tag "home" %>
</head>

<body>
	<div class="row-fluid">
		<div id="myCarousel" class="carousel slide span12" data-interval="5000">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>

			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="active item"><%= image_tag("google-logo.png", :id => "google_logo") %></div>
				<div class="item"><%= image_tag("twitter-logo.png", :id => "twitter_logo") %></div>
				<div class="item"><%= image_tag("facebook-logo.png", :id => "facebook_logo") %></div>
			</div>


			<!-- Carousel nav -->
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	
		</div>
    </div>

    <div class="city-tile">
    	<ul class="city-icons">
    		<li id="city-1" class="city city1">
    			<a class='hover'>
    				<b></b>
    				<strong>旧金山</strong>
    			</a>
    		</li>
    		<li id="city-2" class="city city2">
    			<a class='hover'>
    				<b></b>
    				<strong>纽约</strong>
    			</a>
    		</li>
    		<li id="city-3" class="city city3">
    			<a class='hover'>
    				<b></b>
    				<strong>西雅图</strong>
    			</a>
    		</li>
    	</ul>
    </div>

</body>

<% end %>

