<h1>Woops, Company Not found</h1>


      <td>
      	<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#company">
			Linkedin Api 返回
		</button>
		<div id="company" class="collapse"><%= @company %></div>
      </td>
