// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





p.tags span {
  color:#828C89;
  }
p.company_name span {
  font-size: large;
  size: 100%;
}



.modal .modal-body {
  height: 500px;
  max-height: 700px;
}



body .modal {
  width: 800px;
  top: 50%;
//  left: 50%;
  position: fixed;
  border: 1px solid #cdc4b2;
  margin: -200px 0 0 -530px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
}