// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





p.tags span {
  color:#828C89;
  }
p.company_name span {
  font-size: large;
  size: 100%;
}
